.main_container {
  margin-bottom: 100px;
}

.footer_container_add_appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border: 0;
  border-radius: 56px;
  background-color: var(--first-blue-color);
  position: fixed;
  bottom: 70px;
  right: 10px;
}

.footer_container_add_appointment_icon {
  color: var(--first-white-color);
  height: 20px;
}

.footer_container_menu_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--first-white-color);
  height: 58px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer_container_icons {
  color: rgb(70, 70, 70, 0.3);
  height: 20px;
}

.footer_container_titles {
  color: rgb(70, 70, 70, 0.3);
}

.footer_container_appoitments, 
.footer_container_customers,
.footer_container_reports,
.footer_container_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}